@import '_header.scss';
@import '_slick-carousel.scss';
@import '_text.scss';
@import '_form.scss';
@import '_topButton.scss';
@import '_footer.scss';

body {
    margin:0;
}

.red {
    color:white;
    background-color: red;
    border-radius: 10px;
}

.hide {
    display:none;
}